<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.WorstuDao">
    <select id="findLy" resultType="com.qf.pojo.Worstu">
     select w.*,u.*,j.* from
      user u,
      worstu w,
      job2 j where
      u.uid=w.user_id and j.id=w.jid
	  and w.id=1
    </select>
</mapper>